{% extends 'home.html.twig' %}

{% block datos %}

  <div>

    <h1>Formulario para seleccionar el producto a actualizar</h1>

    <div>

        <form action="{{ path('update_car_form') }}" method="GET" >
        <label>Selecciona el producto a actualizar</label>

        <select id="id" name="id">
          <option value="0">---</option>
          {% for car in carsArray %}
              <option value="{{car.id}}">
                ID: {{car.id}} --
                Modelo: {{car.model}}
              </option>
          {% endfor %}
        </select>

        <input type="submit" value="Buscar">
      </form>

    </div>
  </div>

{% endblock %}