{% extends 'home.html.twig' %}

{% block datos %}

  <div>

    <h1>Formulario para anadir un nuevo Producto</h1>

    <form action="{{ path('add_car') }}" method="GET" >

      <label for="model">Modelo:</label>
      <input type="text" id="model" name="model" required><br>

      <label for="manufacturer">Fabricante:</label>
      <input type="text" id="manufacturer" name="manufacturer" required><br>

      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" step="0.01" required><br>

      <label for="features">Características:</label>
      <textarea id="features" name="features" rows="4" required></textarea><br>

      <input type="submit" value="Enviar">
    </form>
  </div>

{% endblock %}